<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="worlds/nest_launch.world"/> -->
    <!-- <arg name="world_name" value="$(find gazebo_ros_link_attacher)/worlds/test_attacher.world"/> -->
    <arg name="paused" value="true"/>
  </include>

  <include file="$(find wheel4_bot)/launch/gazebo_wheel4_bot_start.launch" />

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find wheel4_bot)/urdf/wheel4_bot.urdf -urdf -model wheel4_bot"
    output="screen" />

  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wheel4_bot)/urdf/wheel4_bot.rviz" required="true" /> -->
</launch>


